.main{
    padding-top: 3%;
    padding-bottom: 1%;
 }
.content{
    
    padding-top: 6%;
}

#musicaList {
    li {
        list-style: none;
		margin: 10px;
		margin-left: 4px;
		padding: 10px;
		border: dashed;
		border-width: 2px;
		border-color:@sea-showing;
    }
	.songArtist{
		color: @sea-foamingby;
		font-weight: bold;
	}
	.songTitle{
		color: @sea-foamingby;
		font-weight: bold;
	}
	.songUrl{
		color: @sea-foamingby;
		font-weight: bold;
	}
	.fa.fa-music{
		font-size: 14px;
		color: @sea-showing;
	}
	
	.listaEncabezado{
		border: none;
		
	}
	
	.listaEncabezado.title{
		font-family: @titles-font-lista;
		color: @sunlit-seaby;
	}
	
	.listaNoData{
		border:none;
	}
}