.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


.img-responsive(){
  position:relative;
  width: 100%;
  max-width: 100%;
}

.icon{
  transition: background 250ms;
  &:hover{
    background:darken(@adrift,5%);
    cursor: pointer;
  }
}
   .selecionada{
    background-color: rgba(0,0,0,0.4) !important;
}
