//Fuentes
@font-family-sans-serif:'Pacifico',cursive;
@font-family-serif:'Lato', sans-serif;


@titles-font-family:@font-family-sans-serif;
@titles-font-lista:'Kaushan Script', cursive;
@body-font-family:@font-family-serif;

//Screen sizes
@mobile-width: 768px;
@tablet-width: 992px;
@desktop-width: 1200px;

//Colores

@sunlit-seaby:#CFF09E;
@sea-foamingby:#A8DBA8;
@sea-showing:#79BD9A;
@could-sailby:#3B8686;
@adrift:#0B486B;


